.logged-menu-vertical-points {
  background-color: hsl($svg-background-color, 0%, 96%);
  border-radius: 10px;
}

.avatar {
  margin-top: 5px;

}

.avatar-icon-menu {
  margin-right: 10px;
}

.avatar-text {
  margin-top: 10px;
  font-size: 13px;
}